@model IEnumerable<CUEL.Models.Notification>
@{
    TimeSpan timeSpan;
}
@foreach (var item in Model)
{
    timeSpan = DateTime.Now - item.DateTime;
    <li>
        <a href="@item.Link">
            <div>
                <i class="fa fa-comment fa-fw"></i> @item.Text
                @if (timeSpan.TotalDays > 0)
                {
                    <span class="pull-right text-muted small">@((int)timeSpan.TotalDays) days ago</span>
                }
                else if (timeSpan.TotalHours > 0)
                {
                    <span class="pull-right text-muted small">@((int)timeSpan.TotalHours) hours ago</span>
                }
                else if (timeSpan.TotalMinutes > 0)
                {
                    <span class="pull-right text-muted small">@((int)timeSpan.TotalMinutes) minutes ago</span>
                }
                else
                {
                    <span class="pull-right text-muted small">@((int)timeSpan.TotalSeconds) seconds ago</span>
                }

            </div>
        </a>
    </li>
    <li class="divider"></li>
}
@*<li>
        <a href="#">
            <div>
                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                <span class="pull-right text-muted small">12 minutes ago</span>
            </div>
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="#">
            <div>
                <i class="fa fa-envelope fa-fw"></i> Message Sent
                <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="#">
            <div>
                <i class="fa fa-tasks fa-fw"></i> New Task
                <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="#">
            <div>
                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
        </a>
    </li>
    <li class="divider"></li>*@
